/* Reset y ajustes globales */
@import 'virtual:windi.css';

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100dvh; /* Altura exacta visible de la ventana */
  overflow: hidden; /* Elimina scroll */
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: #7699c0; /* Fondo base */
}
